GITHUB_AUTH_TOKEN = Bearer <YOUR_GITHUB_AUTH_TOKEN>
GEN_AI_API_KEY = <YOUR_GEN_AI_API_KEY>
SONAR_QUBE_PROJECT_KEY = <YOUR_SONAR_QUBE_PROJECT_KEY>
SONAR_QUBE_USERNAME = <YOUR_SONAR_QUBE_USERNAME>
SONAR_QUBE_PASSWORD = <YOUR_SONAR_QUBE_PASSWORD>